:root {
  --brown-coffee: #D5B3A2;
  --beige-coffee: #E8D4C3;
  --title-color: #71302f;
  --font1: 'DM Sans', sans-serif;;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  background-color: var(--beige-coffee);
  min-height: 100vh;
}

.recipes__container {
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 100px 0;
}

.container{
  width: 90%;
  height: auto;
  max-width: 1200px;
  margin: 0 auto;
}

.nav__logo {
  width: 100%;
  object-fit: cover;
}

.nav__img {
  width: 150px;
}

.title, .subtitle {
  font-family:var(--font1) ;
  color: var(--title-color); 
}

.title {
   font-size: 3.5rem;
   text-align: center;
   margin-bottom: 30px;
}

.subtitle {
  font-size: 1.6rem;
}

form {
  width: 90%;
  max-width: 375px;
  margin: 20px auto;
}

form input {
  width: 89%;
  background-color: transparent;
  padding: 1em;
  border-radius: 36px;
  border: none;
  outline:none;
  font-size: 2rem;
  display: inline-block;
}
form ion-icon {
  width: 10%;
  font-size:3rem;
  margin: -9px;
  color: #71302f;
}

.recipes__result {
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns:  repeat(auto-fit, minmax(325px, 1fr));
  gap: 1em;
}

.recipe__item {
  display: grid;
}
.recipe__img {
  width: 100%;
  display:block;
}

.recipe__content {
line-height: 1.5;
font-size:  0.9em;
padding: 15px;
background-color: var(--brown-coffee);

}

.recipe__content, .recipe__data {
  display: flex;
  align-items: center;
  justify-content: space-between;
 }
